.profile-img-container {
    border-radius: 50%;
    position: fixed;
    left: 30rem;
    top: 11rem;
}

/* resizes the image */
.profile-img {
    height: 5rem;
}

/* basically just a container */
.profile-user-details {
    position: fixed;
    top: 10rem;
    left: 40rem;
    font-size: 1rem;
    text-align: left;
    max-width: 30rem;
}

/* sidenav */
.profile-options {
    float: left;
    position: fixed;
    padding-top: 5rem;
    padding-left: 2rem;
}

/* sidenav options */
.profile-side {
    margin-bottom: 1rem;
}