#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header-btns {
    width: 10rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-img-container {
    border-radius: 50%;
    position: fixed;
    left: 30rem;
    top: 11rem;
}

/* resizes the image */
.profile-img {
    height: 5rem;
}

/* basically just a container */
.profile-user-details {
    position: fixed;
    top: 10rem;
    left: 40rem;
    font-size: 1rem;
    text-align: left;
    max-width: 30rem;
}

/* sidenav */
.profile-options {
    float: left;
    position: fixed;
    padding-top: 5rem;
    padding-left: 2rem;
}

/* sidenav options */
.side {
    margin-bottom: 1rem;
}

/* gap between paragraphs */
p {
    padding-bottom: 1rem;
}